$pink: #de02e7;
$circle-svg: '../../assets/svg/circle.svg';
$triangle-svg: '../../assets/svg/triangle.svg';
$rectangle-svg: '../../assets/svg/rectangle.svg';

body {
  background: #f7f7f7;
  background-image: url($triangle-svg), url($circle-svg), url($rectangle-svg);
  background-repeat: no-repeat;
  background-position: top 3rem right calc(50% - 33rem), top -8em left calc(50% - 23rem), bottom calc(50% - 20rem) left calc(50% - 44rem);
  background-size: 35rem, 18em, 20rem;
}

.link-shadow {
	width: 40px;
	height: 40px;
	color: $pink;
}

.main-title {
	border-bottom: 1px solid #656e79;
}
