.site-header {
  .header-row:after {
    background-image: url("../../assets/img/drop-header.png");
    background-position: 0 20px;
    bottom: -15px;
    content: "";
    display: block;
    height: 15px;
    left: 20px;
    position: absolute;
    width: 350px;
  }
  .site-name {
    color: #212529;
    font-size: 21px;
    font-weight: 100;
  }
}
