$pink: #de02e7;

.shortener-input {
  .shorten-btn,
  .btn-dark {
    border-radius: 23px;
    position: absolute;
    right: -53px;
    top: 11px;
    z-index: 100;
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  .shorten-btn {
    background: linear-gradient(to right, $pink, #5440db);
    background-repeat: repeat-y;
    border-left: $pink;
    border-right: #5440db;
    color: #d4d7d9;
    &:hover {
      background: linear-gradient(to right, #800b9c, #3c2ca9);
    }
  }  
}
